/*Font faces*/

// Lato google font family
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Open sans regular google font family
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Open sans semiBold google font family
@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

// Futura font family
@font-face {
  font-family: 'Futura';
  src:  url('../fonts/futura-medium.eot');
  src:  url('../fonts/futura-medium.eot') format('embedded-opentype'),
  url('../fonts/futura-medium.ttf') format('truetype'),
  url('../fonts/futura-medium.woff') format('woff'),
  url('../fonts/futura-medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Fonts variables declaration
$lato: 'Lato', sans-serif;
$futura: 'Futura', sans-serif;
$open-sans-regular: 'Open Sans Regular', sans-serif;
$open-sans-semibold: 'Open Sans Semibold', sans-serif;
