// Global styles
html{
    font-size: 100%;
    color: #fff;
}

body{
    -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

* html .clearfix{
 height: 1%;
 overflow: visible;
}

*+html .clearfix{
 min-height: 1%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: $open-sans-regular;
  font-size: 16px;
  line-height: 21px;
}

button {
  border: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

// Global classes

.link {
  color: #fff;
  font-family: $futura;
  text-decoration: none;
  @include transition(all .2s ease);
}

.banner__hero-title {
  font-family: $futura;
}

.section-title {
  font-size: 40px;
  font-family: $futura;
  text-align: center;
}

.title-name {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-family: $open-sans-semibold;
  margin-bottom: 14px;
}

label.error {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  font-family: $open-sans-regular;
  font-size: 12px;
  color: red;
}

.form-message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  text-align: center;
  font-size: 16px;
  font-family: $open-sans-semibold;
  color: red;
}

.container-main {
  overflow: hidden;
}
.container-small {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@include input-placeholder, input, textarea {
  font-family: $open-sans-regular;
  font-size: 16px;
  color: $gray;
  &:focus {
    outline: none;
  }
}

.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  color: #000;
  text-transform: uppercase;
  font-family: $futura;
  font-size: 20px;
  line-height: 1;
  width: 100%;
  &--yellow {
    background-color: $broom;
  }
  &--small {
    width: auto;
  }
  &:hover {
    background-color: #000;
    color: #fff;
  }
}







